---
http_interactions:
- request:
    method: post
    uri: https://www.filestackapi.com/api/store/S3?key=AmDGGpy17Tra981Hbnqjaz
    body:
      encoding: US-ASCII
      string: url=https%3A%2F%2Fprocess.filestackapi.com%2FAS6blLW1pSyaEm0kfBKmEz%2Foutput%3Dformat%3Ajpg%2Cdensity%3A30%2Fhttp%3A%2F%2Fbf6edc00.ngrok.io%2Fuploads%2Ftmp%2F1474884513-22460-0002-0274%2Ftest_pdf.pdf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"container": "files.production.s3.emailposter.co", "url": "https://cdn.filestackcontent.com/g2VzBNCQH2CSv5I5PZ2g",
        "filename": "test_.jpg", "key": "pFpNcFwQ3zkIa59EFLXw_test_.jpg", "type":
        "image/jpeg", "size": 1604}'
  recorded_at: Mon, 26 Sep 2016 10:08:36 GMT
recorded_with: VCR 3.0.3
