---
http_interactions:
- request:
    method: post
    uri: https://www.filestackapi.com/api/store/S3?key=AmDGGpy17Tra981Hbnqjaz
    body:
      encoding: US-ASCII
      string: url=https%3A%2F%2Fprocess.filestackapi.com%2FAS6blLW1pSyaEm0kfBKmEz%2Foutput%3Dformat%3Ajpg%2Cdensity%3A108%2Cpage%3A1%2Fhttp%3A%2F%2F1e40cefa.ngrok.io%2Fuploads%2Ftmp%2F1475849068-30168-0003-2227%2Ftest2_pdf.pdf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-No-Compress:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"container": "files.production.s3.emailposter.co", "url": "https://cdn.filestackcontent.com/ZbRvn0jPScKHfbW9rUJr",
        "filename": "test2_.jpg", "key": "nhcga9LwRJSxZWw3O7ky_test2_.jpg", "type":
        "image/jpeg", "size": 105881}'
  recorded_at: Fri, 07 Oct 2016 14:04:32 GMT
[...]
- request:
    method: post
    uri: https://www.filestackapi.com/api/store/S3?key=AmDGGpy17Tra981Hbnqjaz
    body:
      encoding: US-ASCII
      string: url=https%3A%2F%2Fprocess.filestackapi.com%2FAS6blLW1pSyaEm0kfBKmEz%2Foutput%3Dformat%3Ajpg%2Cdensity%3A108%2Cpage%3A2%2Fhttp%3A%2F%2F1e40cefa.ngrok.io%2Fuploads%2Ftmp%2F1475849068-30168-0004-2974%2Ftest_pdf.pdf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "[uuid=0BF5FCD236F047E8] Invalid response when trying to read from https://process.filestackapi.com/AS6blLW1pSyaEm0kfBKmEz/output=format:jpg,density:108,page:2/http://1e40cefa.ngrok.io/uploads/tmp/1475849068-30168-0004-2974/test_pdf.pdf"
  recorded_at: Fri, 07 Oct 2016 14:04:49 GMT
recorded_with: VCR 3.0.3
