<div class="container reports">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Title</th>
      <th>Email_to</th>
      <th style="width: 10%;">Subscribed</th>
    </tr>
    </thead>
    <tbody>
    <h2>Reports</h2>
    <% @reports_list.each do |report| %>
        <tr>
          <td><%= report.title%></td>
          <td><%= report.email_to%></td>
          <td style="text-align: center;">
            <%= check_box("subscribe_list", report.id,{checked: report.users.where(id: current_user.id).present?, class: 'subscribe', data: {report_id: report.id}}) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>