<div class="container reports">
  <div>
    <h1 class="title">New Slack Channel</h1>
      <%= render 'form', slack_channel: @slack_channel, report_id: @report_id %>

      <%= link_to 'Back', report_path(@report_id) %>
  </div>
</div>
