<div class="container reports">
  <div class="card card-container">
    <h1 class="title">New report</h1>
    <%= render 'form', report: @report %>

    <%= link_to 'Back', reports_path, class: 'back-button' %>
  </div>
</div>